<!-- FIXME #825 -->
<%= title_tag "Référentiel de lignes #{@line_referential.name}" %>

<div class="summary">

</div>

<div class="panel panel-default">
  <ul class="list-group"  width="75%">
    <li class="list-group-item">
      <span class="badge"><%= @line_referential.group_of_lines.size %></span>
      <%= link_to Referential.human_attribute_name("group_of_lines"), line_referential_group_of_lines_path(@line_referential) %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @line_referential.lines.size %></span>
      <%= link_to Referential.human_attribute_name("lines"), line_referential_lines_path(@line_referential) %>
    </li>
  </ul>
</div>

<% unless @line_referential.line_referential_sync.line_sync_operations.empty? %>
  <%= title_tag "Historique des synchronisations" %>
  <ul class="list-group"  width="75%">
    <% @line_referential.line_referential_sync.line_sync_operations.each do |sync| %>
      <li>
        <%= sync.created_at %> - <%= sync.status %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= semantic_form_for @line_referential, :url => line_referential_path do |form| %>
  <%= form.inputs do %>
    <%= form.input :sync_interval %>
  <% end %>

  <%= form.actions do %>
    <%= form.action :submit, :as => :button %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
<ul class="actions">
</ul>
<% end %>
