
<!-- FIXME #823 -->
<% if false %>
  <%= title_tag Referential.model_name.human(:count => 2) %>
  <div class="referentials paginated_content">
    <%= paginated_content @referentials %>
  </div>
<% end %>

<% content_for :sidebar do %>
<ul class="actions">
  <!-- FIXME #823 -->
  <% if false %>
    <li><%= link_to t('referentials.actions.new'), new_referential_path, :class => "add" %></li>
  <% end %>
</ul>
<ul>
  <!-- FIXME #820 -->
  <!-- Don't blame me. See #820 -->
  <li><%= link_to 'Arrêts Reflex', stop_area_referential_path(1) %></li>

  <!-- FIXME #824 -->
  <!-- Don't blame me. See #824 -->
  <li><%= link_to 'Lignes CodifLigne', line_referential_path(1) %></li>
</ul>
<% end %>
